APP_NAME=AirPort Sensor API
APP_ENV=dev
APP_PORT=8000

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=change-me
INFLUX_ORG=airport-project
INFLUX_BUCKET=airport_telemetry
INFLUX_RETENTION_DAYS=30
WS_MAX_CLIENTS=200

# .env do container docker do infuxdb
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=<senha-forte>
DOCKER_INFLUXDB_INIT_ORG=airport-project
DOCKER_INFLUXDB_INIT_BUCKET=airport_telemetry
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=<token-forte>
